# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\s_ger\source\java_repo\Opdracht6_Vaccinatie_Inclusief_Examen_Gert-Jan_Spilstijns\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
