<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments :: html_head">
<title>Communities</title>
</head>
<body>
<div th:insert="fragments :: html_menu"></div>
<div class="ui container">
	<h2>Actions</h2>
	<div>
		<p>
			<a th:href="@{/communities/new}" class="ui button">New community</a>
		</p>
	</div>

	<h2>Communities</h2>

	<div class="ui link cards">
		<div class="card" th:each="community : ${communities}">
			<div class="content">
				<div class="header" th:text="${community.description}"></div>
				<div class="meta">
					<a th:text="'Aantal members: '+${community.members.size()}"></a>
				</div>
				<div class="meta">
					<a th:text="${community.description}"></a>
				</div>
				<div class="description" th:text="${community.description} + ' plus some text'" >
				</div>
			</div>
			<div class="extra content">
				<a class="ui button fluid" th:href="@{'/communities/edit/' + ${community.id}}"> Edit</a>

			</div>
		</div>


	</div>
</div>

</body>
</html>