<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments :: html_head">
    <title>Update community</title>
</head>
<body>
<div th:insert="fragments :: html_menu"></div>
<div class="ui container">

    <h2>Update community</h2>


    <form th:action="@{/communities/edit/{id}(id=${community.id})}" th:object="${community}" method="post"
          class="ui form">
        <div class="field">
            <label>Description</label>
            <input type="text" th:field="*{description}" id="description"
                   name="description" placeholder="Description">
        </div>

        <button class="ui button" type="submit" value="update-event">Submit</button>

    </form>
</div>
</body>
</html>