<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Add event</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
</head>
<body>
	<div class="ui container">
		<h2>New event</h2>
			<form th:action="@{/events}" th:object="${event}" method="post"
				  class="ui form">
				<div class="field">
					<label>Description</label>
					<input type="text" th:field="*{description}" id="description"
						   name="description" placeholder="Description">
				</div>
				<div class="field">
					<label>Community</label>
					<select th:field="*{communityDto.id}" class = form-control required>
						<th:block th:each="community:${communityList}">
							<option th:text="${community.description}" th:value="${community.id}"></option>
						</th:block>
					</select>
				</div>
				<button class="ui button" type="submit">Submit</button>

			</form>
	</div>
</body>
</html>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>