<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments :: html_head">
    <title>Update event</title>
</head>
<body>
<div th:insert="fragments :: html_menu"></div>
<div class="ui container">

    <h2>Update event</h2>


    <form th:action="@{/events/edit/{id}(id=${event.id})}" th:object="${event}" method="post"
          class="ui form">
        <div class="field">
            <label>Description</label>
            <input type="text" th:field="*{description}" id="description"
                   name="description" placeholder="Description">
        </div>
        <div class="field">
            <label>Date</label>
            <input type="date" th:field="*{date}" id="date"
                   name="date" placeholder="dd-mm-yyyy">
        </div>
        <div class="field">
            <label>Community</label>
            <select th:field="*{communityDto.id}" class = form-control required>
                <th:block th:each="community:${communityList}">
                    <option th:text="${community.description}" th:value="${community.id}"></option>
                </th:block>
            </select>
        </div>
        <button class="ui button" type="submit" value="update-event">Submit</button>

    </form>
</div>
</body>
</html>