<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments :: html_head">
<title>events</title>
</head>
<body>
<div th:insert="fragments :: html_menu"></div>

<div class="ui container">
	<h2>Actions</h2>
<div>
	<p>
		<a th:href="@{'/personaddress/new/' + ${person.id}}" class="ui button">Add Address</a>
		<a th:href="@{'/persons/delete/' + ${person.id}}" class="ui button">Delete user</a>
	</p>
</div>

<h2>Person</h2>

<form th:action="@{/persons/edit/{id}(id=${person.id})}" th:object="${person}" method="post"
	  class="ui form">
	<div class="field">
		<label>First Name</label>
		<input type="text" th:field="*{firstName}" id="firstName"
			   name="first-name" placeholder="First Name">
	</div>

	<div class="field">
		<label>Last Name</label>
		<input type="text" name="last-name"
			   th:field="*{lastName}" id="lastName" placeholder="Last Name">
	</div>
	<div class="field">
		<label>Birthday</label>
		<input type="date" name="birthDay"
			   th:field="*{birthDay}" id="birthDay" placeholder="dd-mm-yyyy">
	</div>
	<button class="ui button" type="submit" value="update-person">Submit</button>
</form>
	<hr>
	<h2>Addresses</h2>
	<div class="ui link cards">
		<div class="card" th:each="pa : ${personAddress}">
			<div class="content">
				<div class="header" th:text="${pa.type}"></div>
				<div class="meta">
					<a th:text="'Email: ' + ${pa.email}"></a>
				</div>
				<div class="meta">
					<a th:text="'Phone: ' + ${pa.phone}"></a>
				</div>
				<div class="meta">
					<a th:text="'Street: ' + ${pa.addressDto.street}"></a>
				</div>
				<div class="meta">
					<a th:text="'Number: ' + ${pa.addressDto.number}"></a>
				</div>
				<div class="meta">
					<a th:text="'Zip: ' + ${pa.addressDto.zip}"></a>
				</div>
				<div class="meta">
					<a th:text="'City: ' + ${pa.addressDto.city}"></a>
				</div>
			</div>
			<div class="extra content">
				<a class="ui button fluid" th:href="@{/personaddress/edit/{personid}/{addressid}(personid=${pa.getId().getPerson_ID()},addressid=${pa.getId().getAddress_ID()})}"> Edit</a>

				<a class="ui button fluid" th:href="@{'/address/edit/' + ${pa.id}}"> Edit old</a>
			</div>
		</div>

	</div>
</div>
</body>
</html>
