<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<title>events</title>
<link rel="stylesheet"
	 href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">

</head>
<body>
<div class="ui container">
	<h2>Actions</h2>
	<div>
		<p>
			<a th:href="@{/personaddress/new}" class="ui button">New PersonAddress</a>
		</p>
	</div>

	<h2>Events</h2>
	<div class="ui link cards">
		<div class="card" th:each="personaddr : ${personaddress}">
			<div class="content">
				<div class="header" th:text="${personaddr.email}"></div>
				<div class="meta">
					<a th:text="'Email: ' + ${personaddr.email}"></a>
				</div>
				<div class="meta">
					<a th:text="'Mobile: ' + ${personaddr.mobile}"></a>
				</div>
				<div class="Type" th:text="${personaddr.type}" >
				</div>
			</div>
			<div class="extra content">
				<a class="ui button fluid" th:href="@{'/events/edit/' + ${personaddr.id}}"> Edit</a>
			</div>
		</div>


	</div>
</div>

</body>
</html>

<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>