<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments :: html_head">
    <title>addresses</title>
</head>
<body>
<div th:insert="fragments :: html_menu"></div>
<div class="ui container">
    <h2>Actions</h2>
    <div>
        <p>
            <a th:href="@{/address/new}" class="ui button">New address</a>
        </p>
    </div>

    <h2>Addresses</h2>
    <table class="ui celled table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Street</th>
            <th>Number</th>
            <th>Box</th>
            <th>Zip</th>
            <th>City</th>
            <th>Country</th>
            <th>Type</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="address : ${addresses}">
            <td th:text="${address.id}"></td>
            <td th:text="${address.street}"></td>
            <td th:text="${address.number}"></td>
            <td th:text="${address.box}"></td>
            <td th:text="${address.zip}"></td>
            <td th:text="${address.city}"></td>
            <td th:text="${address.country}"></td>
            <td th:text="${address.type}"></td>
            <td> <a class="ui button fluid" th:href="@{'/address/edit/' + ${address.id}}"> Edit</a></td>
            <td> <a class="negative ui button fluid" th:href="@{'/address/delete/' + ${address.id}}"> Delete</a></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>